<div class="">
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Posts</a>
    </div>
  </nav>
  <div class="outer">
    <div class="sideNav">

        <a class="navbar-brand  text-center" href="#" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">List Items</a>

  

        <a class="navbar-brand text-center" href="#" routerLink="add-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add Items</a>

  
    </div>
    <div class="main-cont">
      <router-outlet></router-outlet>
    </div>
  </div>
  
</div>