<div class="form-outer">
    <form class="form-inner" (submit)="onFormSubmit($event)">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Title</label>
              <input type="text" name="title"  class="form-control" [(ngModel)]="title"  />
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Author</label>
              <input type="text" name="author"  class="form-control"  [(ngModel)]="author" />
            </div>
            <div class="d-flex justify-content-end">
            <button type="submit" [disabled]="isSubmitable()" class="btn btn-primary">Add Item</button>
        </div>
    </form>

    
</div>